stages:
  - build
  - test

build_job:
  stage: build
  script:
    - echo "Building the project..."
    - npm install

test_job:
  stage: test
  script:
    - echo "Running tests..."
    - chmod +x run_tests.sh
    - ./run_tests.sh
